urllib3==2.7.0
lxml==4.9.3
Pillow==12.3.0
minio==7.2.20
requests==2.34.2
tenacity==8.5.0
picles.plumber==0.11
charset-normalizer<3.0
aiohttp==3.14.3
python-magic==0.4.27
tox==4.11.4
langcodes==3.3.0
-e git+https://github.com/scieloorg/scielo_scholarly_data@v0.1.4#egg=scielo_scholarly_data
ipdb==0.13.13
langdetect~=1.0.9
python-docx==1.2.0
openpyxl==3.1.5
python-docx>=0.8.11
