urllib3==2.6.3
lxml==4.9.3
Pillow==10.1.0
minio==7.2.0
requests==2.32.0
tenacity==8.2.3
picles.plumber==0.11
charset-normalizer<3.0
aiohttp==3.9.1
python-magic==0.4.27
tox==4.11.4
langcodes==3.3.0
-e git+https://github.com/scieloorg/scielo_scholarly_data#egg=scielo_scholarly_data
ipdb==0.13.13
langdetect~=1.0.9
python-docx==1.1.2
openpyxl==3.1.5
