<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>PackTools - SciELO Viewer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    {% block extrahead %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

  </head>
  <body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">

  {% block base_struture %}
    {% block content %}{% endblock %}
  {% endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
  {% block extrafooter %}{% endblock %}
  </body>
</html>
