a:link:after,
a:visited:after {
  display: none;
  content: "" !important;
}
.mainNav,
.language,
.newSearchField,
.searchFilters,
.searchOptions,
.searchActions,
.highlight,
.articleAction,
.shLink,
.journalMenu,
.levelMenu,
.share,
.issueNav,
.journalLinks,
.collectionListSearch {
  display: none !important;
}
.searchForm .resultBlock {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #ccc;
}
.searchForm .results .item {
  padding: 20px;
  border-bottom: 1px dotted #ccc;
  page-break-inside: avoid;
}
.searchForm .results .item:last-child {
  border-bottom: 0;
}
.searchForm .results input.checkbox + label.checkbox {
  background: none;
}
.searchForm .results .versions {
  padding: 7px 0 !important;
  background: none;
}
.searchForm .results .metadata {
  padding: 7px 0 !important;
}
.searchForm .results .metadata .col-md-9 {
  padding: 0;
}
.searchForm .searchExpression {
  border-bottom: 1px dotted #ccc;
  margin: -20px -15px 0;
  padding: 10px 20px;
  background: #fff;
  font-family: Arial;
  color: #333;
}
.searchForm .searchExpression span {
  display: block;
  font-size: .8em;
}
.colophon .container {
  border-top: 1px dotted #ccc;
  background: none;
}
.colophon a {
  display: none;
}
.journalContent .issueData {
  display: none;
}
.journalContent .issueData {
  margin-top: 20px;
}
.journalContent .issueIndex {
  width: 100%;
}
.brandLogo {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
}
.brandLogo .col-md-offset-1 {
  margin: 0;
}
.journalAddress .col-md-10 {
  width: 100%;
}
.journalContent {
  padding: 0;
  margin-top: 30px;
}
.journalContent .issueList {
  padding: 0;
}
.journalContent .issueList table th,
.journalContent .issueList table td {
  border-bottom: 1px solid #ddd;
}
.journalContent .issueList table th a,
.journalContent .issueList table td a {
  border: 1px solid #d0d0d0;
}
.collectionListTable table th,
.collectionListTable table td {
  border-bottom: 1px solid #ddd;
}
.collectionListTable .actions,
.collectionListTable .download {
  display: none;
}
.collectionLicense span {
  width: 80%;
}
.brandLogo {
  width: 100%;
}
